{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Montecarlo</h1>
  <p class="lead">El método de Montecarlo​ es un método no determinista o estadístico numérico, usado para aproximar expresiones matemáticas complejas y costosas de evaluar con exactitud. El método se llamó así en referencia al Casino de Montecarlo (Mónaco) por ser “la capital del juego de azar”, al ser la ruleta un generador simple de números aleatorios. El nombre y el desarrollo sistemático de los métodos de Montecarlo datan aproximadamente de 1944 y se mejoraron enormemente con el desarrollo de la computadora.</p>
  <hr class="my-4">
  <form action="/calcMonte" method="POST">
    <div class="input-group mb-3"  style="width: 60%;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">F(x)</span>
      </div>
      <input type="text" name="function" id="eq1" value="{{datos.0}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div style="display: flex;">
      <div class="input-group mb-3" style="width: 30%;">
        <div class="input-group-prepend" >
          <span class="input-group-text" id="inputGroup-sizing-default">Extreme a</span>
        </div>
        <input type="text" value="{{datos.1}}" name="extremea" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3" style="padding-left: 15px; width: 30%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Extreme b</span>
        </div>
        <input type="text" value="{{datos.2}}" name="extremeb" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="input-group mb-3" style="width: 60%;">
      <div class="input-group-prepend">
        <span class="input-group-text"  id="inputGroup-sizing-default">Points</span>
      </div>
      <input type="number" value="{{datos.3}}" name="points" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <button class="btn btn-primary btn-lg"  role="button" type="submit">Calculate</button>
    <div class="btn btn-primary btn-lg"  role="button" onclick="borrar()">
      <i class="fas fa-eraser"></i>
  </div>
  </form>
  <hr class="my-4">
  <style>
    .cnt1{
      position: relative;
      display: flex;
      margin-bottom: 20px;
      background-color: #FFF;
      width: 60%;
      border-radius: 5px;
      padding: 0 0 10px 10px;
      border: 1px solid #ced4da;
    }
    .cnt1 .integ{
      font-size: 50px;
    }
  
    .cnt1 .extr{
      position: absolute;
    }
  
    .b{
      transform: translate(27px, 5px);
      font-size: 15px;
    }
  
    .a{
      transform: translate(27px, 55px);
      font-size: 15px;
    }
  
    .fx{
      transform: translate(45px, 25px);
      font-size: 20px;
    }
  </style>
  <div class="cnt1">
    <span class="integ">&#8747;</span>
    <span class="extr b"><i>{{datos.2}}</i></span>
    <span class="extr a"><i>{{datos.1}}</i></span>
    <span id="integral" class="extr fx">{{datos.0}} <i>dx</i></span>
  </div>
  <div class="input-group mb-3" style="width: 60%;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Aerea</span>
    </div>
    <div type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">{{area}}</div>
  </div>
<form id="form">
</form>
<h3 class="display-5">Graph</h3>
<div id="plot" style="background-color: #FFF; width: 550px; border-radius: 5px;"></div>

</div>

<script>
  console.log(document.getElementById('eq1').value.replaceAll("**","^").replaceAll("ln", "log"))
  function draw() {
    try {
      functionPlot({
        target: '#plot',
        data: [{
          fn: document.getElementById('eq1').value.replaceAll("**","^").replaceAll("ln", "log"),
          sampler: 'builtIn',  // this will make function-plot use the evaluator of math.js
          graphType: 'polyline'
        }]
      });
    }
    catch (err) {
      console.log(err);
      alert(err);
    }
  }

  document.getElementById('form').onsubmit = function (event) {
    event.preventDefault();
    draw();
  };

  draw();

  function borrar(){
    document.getElementsByName("function")[0].value =  "";
    document.getElementsByName("extremea")[0].value =  "";
    document.getElementsByName("extremeb")[0].value =  "";
    document.getElementsByName("points")[0].value =  "";
  }
</script>

{% endblock%}
